/* Meine CSS-Formate */

html, body {
    background-color: #111927;
}

.headernav {
    width: 1000px;
    height: 80px;
    margin: 0 auto 10px;
}

.navwrapper {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    align-items: center;
}

.mainmenu {
    font-family: sans-serif;
    list-style-type: none;
    display: flex;
    line-height: 40px;
    width: 100%;
}

.mainmenu li {
    margin-right: 25px;
    flex: auto;
}

.mainmenu li a {
    text-decoration: none;
    color: black;
}

.mainmenu li a:hover {
    color: black;
    border-bottom: solid 3px red;
}

.slider {
    width: 1000px;
    height: 600px;
    background-color: #f6f1f1;
    margin: 15px auto 0;
}

.content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.contentlinks {
    width: 680px;
}

.contentrechts {
    width: 400px;
    padding: 20px 0 20px 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #9eed00;
}

.bg-body-tertiary {
    background-color: #9eed00;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
}